@{
    ViewData["Title"] = "About";
}
<h2>About Bardcore Music</h2>
<h3>The Totally Reimagined Playlist Gallery</h3>

<p>Tell us if you've heard this one before:</p>
<br/>
<p>You've just entered the final room of the dungeon. Your party has fought your way to
    the boss, the asshole who's been heckling you from afar for hours upon hours now. You've been
    picturing how hardcore this battle will be since you entered, and now the moment has finally arrived.
    It's about time to show HIM who's boss. The brawl is about to go down.</p>
<br/>
<p>Though is it really?</p>
<br/>
<p>You realize as you ready your weapons that all that greets your party's banter is the sound...of silence. 
    And maybe some shuffling papers or tapping of phone screens if you're lucky.</p>
<br/>
<p>Kind of anti-climactic, right?</p>
<br />
<p>That's where we come in! You want the full cinematic experience and we got the tools to do so. Find the songs
    that'll accompany the moments you and your party talk about for sessions to come. Collect them in your very
    own playlists for whatever TTRPG you're playing - DnD, CyberPunk, whatever! It's all good here! - and share 'em
    with the community. We're all united by the desire not to get blueballed during the climax of our favorite campaign
    moments. And after that, celebrate at the inn (or bar, or whatever universe and time you're leveling it up in) with
    some jaunty music that the atmosphere calls. Never suffer in silence (literally!) again.</p>
<br/>
<br/>
<p>--The Bardcore Team</p>
