@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us</h2>
<h3>Got questions?</h3>

<address>
    Bardcore Studios<br/>
    999 Developer Street<br />
    Woodstock, PA<br />
    <abbr title="Phone">P:</abbr>
    999.999.9999
</address>

<address>
    <strong>Support:</strong> <p>Support@Bardcore.com</p><br />
    <strong>Marketing:</strong> <p>Marketing@Bardcore.com</p>
</address>
