@{
    ViewData["Title"] = "Home Page";
}

<h1 class="white-letter">Welcome to</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
    <img src="~/images/Bardcorelogo.png" alt="Sitelogo" width="50%" height="50%"/>
    <h1>Latest Update Information</h1>
    <p>This is where News posts go.</p>
        </div>
    </div>
</div>