@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager
@model Bardcore.Models.SongInfo

@{
    ViewData["Title"] = "Create";
}

<h2>Upload</h2>

<h4>Song Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Title*</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class ="form-control" asp-items="ViewBag.Genre"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label">Upload Date*</label>
                <input asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            
            <div>
                <label for="audio">File Upload*</label>
                <input id="FileMusic" type="file" name="FileMusic" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Browse">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
