@model Bardcore.Models.UserPlaylist

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UserPlaylist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlaylistId" />
            <div class="form-group">
                <label asp-for="PlaylistCreator" class="control-label"></label>
                <select asp-for="PlaylistCreator" class="form-control" asp-items="ViewBag.PlaylistCreator"></select>
                <span asp-validation-for="PlaylistCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistName" class="control-label"></label>
                <input asp-for="PlaylistName" class="form-control" />
                <span asp-validation-for="PlaylistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Browse">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
